<h1>Title: <%= @listing.title%></h1>

<div>
	<% @listing.avatars.each do |x| %>
	<%= image_tag x.thumb.url %>
	<% end %>
</div>

<p>Posted by:<%= @listing.user.email%></p>
<p>Description: <%= @listing.description %></p>
<p>Max Guests: <%= @listing.max_guests %></p>
<p>Price per night: <%= @listing.price %></p>
<%= link_to "Edit", edit_listing_path(@listing)%>

<%= render "reservations/form" %>
