<h1> <%= @search.count %> search(es) found</h1>
<h3> for price at <%= params[:listing][:price] %> with max guests of <%= params[:listing][:max_guests] %></h3>

<h4>Search again?</h4>
<%= form_for(:listing, url: search_index_path, method: :get) do |form| %>
  <div>
  	<%= form.label :price %>
  	<%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :max_guests %>
    <%= form.number_field :max_guests %>
  </div>
  <%= form.submit "Search" %>
<% end %>


<table>
<% @search.each do |result| %>
	<tr>
		<td><%= link_to result.title, result %></td>
	</tr>
<% end %>
<%= paginate @results %>
</table>